<section class="play-{{dashCase name}}">
    <h1>{sample}</h1>
</section>

<script>
    export default {
        data() {
            return {
               sample: 'sample data'
            };
        }
    };
</script>
